export VEGASDNS_HOST=1.2.3.4
export VEGASDNS_PORT=443
export VEGASDNS_USER=xxx
export VEGASDNS_PASSWORD=xxx
export VEGASDNS_TOKEN=xxx
export VEGASDNS_SECRET=xxx
export VEGASDNS_SSL_VERIFY=false
export VEGASDNS_DRY_RUN=false
export VEGASDNS_MAX_RESULTS=1500
export VEGASDNS_DEFAULT_TTL=300
export VEGASDNS_DRY_RUN=false
export VEGASDNS_SMART=test.smart
export VEGASDNS_VIEW=

export SERVER_HOST=0.0.0.0  
export SERVER_PORT=8888 
export DOMAIN_FILTER=test.com
export LOG_LEVEL=debug